In [1]:
import pyspark
import pydataset
import pandas as pd
from pyspark.sql.functions import *
from vega_datasets import data as vega_data

In [2]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()
df = spark.createDataFrame(pd.DataFrame({'language':['python','java','c++','r','javascript','scala','html']}))

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/homebrew/anaconda3/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/05/19 11:02:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Dataframe of favorite programming languages
- The name of the column should be language
- View the schema of the dataframe
- Output the shape of the dataframe
- Show the first 5 records in the dataframe

In [3]:
df.schema

StructType(List(StructField(language,StringType,true)))

In [4]:
df.describe()

DataFrame[summary: string, language: string]

In [5]:
df.show(5)

+----------+
|  language|
+----------+
|    python|
|      java|
|       c++|
|         r|
|javascript|
+----------+
only showing top 5 rows

### 2. MPG Dataset

In [6]:
df = spark.createDataFrame(pydataset.data('mpg'))

In [7]:
df.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

a.

In [8]:
message = (concat(lit('The '),'year',lit(' '),'manufacturer',lit(' '),'model',lit(' has a '), 'cyl', lit(' cylinder engine.')))

df.select('*',message.alias('message')).show(7, truncate = False)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+-----------------------------------------+
|manufacturer|model|displ|year|cyl|trans     |drv|cty|hwy|fl |class  |message                                  |
+------------+-----+-----+----+---+----------+---+---+---+---+-------+-----------------------------------------+
|audi        |a4   |1.8  |1999|4  |auto(l5)  |f  |18 |29 |p  |compact|The 1999 audi a4 has a 4 cylinder engine.|
|audi        |a4   |1.8  |1999|4  |manual(m5)|f  |21 |29 |p  |compact|The 1999 audi a4 has a 4 cylinder engine.|
|audi        |a4   |2.0  |2008|4  |manual(m6)|f  |20 |31 |p  |compact|The 2008 audi a4 has a 4 cylinder engine.|
|audi        |a4   |2.0  |2008|4  |auto(av)  |f  |21 |30 |p  |compact|The 2008 audi a4 has a 4 cylinder engine.|
|audi        |a4   |2.8  |1999|6  |auto(l5)  |f  |16 |26 |p  |compact|The 1999 audi a4 has a 6 cylinder engine.|
|audi        |a4   |2.8  |1999|6  |manual(m5)|f  |18 |26 |p  |compact|The 1999 audi a4 has a 6 cylinder engine.|
|audi        |a4   |3.1  |2008|6  |auto(av)  |f  |18 |27 |p  |compact|The 2008 audi a4 has a 6 cylinder engine.|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+-----------------------------------------+
only showing top 7 rows

b. transform trans column

In [9]:
df.select(
    "trans",
    regexp_extract('trans',r'(\w{4,6})',1)
).show(5)

+----------+-----------------------------------+
|     trans|regexp_extract(trans, (\w{4,6}), 1)|
+----------+-----------------------------------+
|  auto(l5)|                               auto|
|manual(m5)|                             manual|
|manual(m6)|                             manual|
|  auto(av)|                               auto|
|  auto(l5)|                               auto|
+----------+-----------------------------------+
only showing top 5 rows

## 3.  Tips

In [10]:
df = spark.createDataFrame(pydataset.data('tips'))

In [11]:
df.show(5)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
+----------+----+------+------+---+------+----+
only showing top 5 rows

In [12]:
is_smoker = when(df.smoker == 'Yes',1).otherwise(0)
df.select(avg(is_smoker).alias('percent_smokers')).show(5)

+-------------------+
|    percent_smokers|
+-------------------+
|0.38114754098360654|
+-------------------+

In [13]:
tip_percentage = (df.tip / df.total_bill).alias('tip_percentage')
df = df.select('*', tip_percentage)

In [14]:
df.show(5)

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|     tip_percentage|
+----------+----+------+------+---+------+----+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|
+----------+----+------+------+---+------+----+-------------------+
only showing top 5 rows

In [15]:
df.groupby('sex','smoker').agg(avg('tip_percentage')).show()

+------+------+-------------------+
|   sex|smoker|avg(tip_percentage)|
+------+------+-------------------+
|  Male|    No| 0.1606687151291298|
|Female|    No| 0.1569209707691836|
|  Male|   Yes|0.15277117520248512|
|Female|   Yes|0.18215035269941032|
+------+------+-------------------+

## 4. Seattle Weather
- Convert the temperatures to fahrenheit.
- Which month has the most rain, on average?
- Which year was the windiest?
- What is the most frequent type of weather in January?
- What is the average high and low temperature on sunny days in July in 2013 and 2014?
- What percentage of days were rainy in q3 of 2015?
- For each year, find what percentage of days it rained (had non-zero precipitation).

In [16]:
weather = vega_data.seattle_weather().assign(date=lambda df: df.date.astype(str))
weather = spark.createDataFrame(weather)
weather.show(6)

+----------+-------------+--------+--------+----+-------+
|      date|precipitation|temp_max|temp_min|wind|weather|
+----------+-------------+--------+--------+----+-------+
|2012-01-01|          0.0|    12.8|     5.0| 4.7|drizzle|
|2012-01-02|         10.9|    10.6|     2.8| 4.5|   rain|
|2012-01-03|          0.8|    11.7|     7.2| 2.3|   rain|
|2012-01-04|         20.3|    12.2|     5.6| 4.7|   rain|
|2012-01-05|          1.3|     8.9|     2.8| 6.1|   rain|
|2012-01-06|          2.5|     4.4|     2.2| 2.2|   rain|
+----------+-------------+--------+--------+----+-------+
only showing top 6 rows

In [17]:
def convert_c_to_f(temp):
    """ Converts Fahrenheit to Celcius """
    return temp * (9/5) + 32

# convert python function to pyspark udf
udf_convert = udf(lambda temp: convert_c_to_f(temp))

In [18]:
weather = weather.withColumn('temp_max_f', 
                   udf_convert(col('temp_max'))).withColumn('temp_min_f', 
                   udf_convert(col('temp_min')))

In [19]:
month = regexp_extract(weather.date, r'-(\d+)-',1).alias('month')
year = regexp_extract(weather.date, r'(\d{4})',1).alias('year')

In [20]:
weather = weather.select('*',month, year)

In [21]:
weather.show(5)

+----------+-------------+--------+--------+----+-------+------------------+----------+-----+----+
|      date|precipitation|temp_max|temp_min|wind|weather|        temp_max_f|temp_min_f|month|year|
+----------+-------------+--------+--------+----+-------+------------------+----------+-----+----+
|2012-01-01|          0.0|    12.8|     5.0| 4.7|drizzle|55.040000000000006|      41.0|   01|2012|
|2012-01-02|         10.9|    10.6|     2.8| 4.5|   rain|             51.08|     37.04|   01|2012|
|2012-01-03|          0.8|    11.7|     7.2| 2.3|   rain|             53.06|     44.96|   01|2012|
|2012-01-04|         20.3|    12.2|     5.6| 4.7|   rain|             53.96|     42.08|   01|2012|
|2012-01-05|          1.3|     8.9|     2.8| 6.1|   rain|48.019999999999996|     37.04|   01|2012|
+----------+-------------+--------+--------+----+-------+------------------+----------+-----+----+
only showing top 5 rows

Month with most rain

In [22]:
weather.groupby('month').agg(max('precipitation').alias('monthly_precipitation')).sort(desc('monthly_precipitation')).show(1)

+-----+---------------------+
|month|monthly_precipitation|
+-----+---------------------+
|   03|                 55.9|
+-----+---------------------+
only showing top 1 row

Windiest year (by average wind)

In [23]:
weather.groupby('year').agg(avg('wind').alias('average_wind')).sort(desc('average_wind')).show(1)

+----+-----------------+
|year|     average_wind|
+----+-----------------+
|2012|3.400819672131148|
+----+-----------------+
only showing top 1 row

Most frequent type of weather in January

In [24]:
weather.filter((month == '01')).groupby('weather').count().sort(desc('count')).show(1)

+-------+-----+
|weather|count|
+-------+-----+
|    fog|   38|
+-------+-----+
only showing top 1 row

Average high and low temp on sunny days in July in 2013 and 2014

In [25]:
weather.filter((weather.weather == 'sun')&(month == '07')&(year == '2013')|(year == '2014')).select(
    avg('temp_max_f'),
    avg('temp_min_f')
).show()

+-----------------+-----------------+
|  avg(temp_max_f)|  avg(temp_min_f)|
+-----------------+-----------------+
|63.78147959183674|48.25188775510203|
+-----------------+-----------------+

In [26]:
weather = weather.withColumn('quarter',quarter(weather.date))

In [36]:
weather.show()

+----------+-------------+--------+--------+----+-------+------------------+------------------+-----+----+-------+
|      date|precipitation|temp_max|temp_min|wind|weather|        temp_max_f|        temp_min_f|month|year|quarter|
+----------+-------------+--------+--------+----+-------+------------------+------------------+-----+----+-------+
|2012-01-01|          0.0|    12.8|     5.0| 4.7|drizzle|55.040000000000006|              41.0|   01|2012|      1|
|2012-01-02|         10.9|    10.6|     2.8| 4.5|   rain|             51.08|             37.04|   01|2012|      1|
|2012-01-03|          0.8|    11.7|     7.2| 2.3|   rain|             53.06|             44.96|   01|2012|      1|
|2012-01-04|         20.3|    12.2|     5.6| 4.7|   rain|             53.96|             42.08|   01|2012|      1|
|2012-01-05|          1.3|     8.9|     2.8| 6.1|   rain|48.019999999999996|             37.04|   01|2012|      1|
|2012-01-06|          2.5|     4.4|     2.2| 2.2|   rain|             39.92|             35.96|   01|2012|      1|
|2012-01-07|          0.0|     7.2|     2.8| 2.3|   rain|             44.96|             37.04|   01|2012|      1|
|2012-01-08|          0.0|    10.0|     2.8| 2.0|    sun|              50.0|             37.04|   01|2012|      1|
|2012-01-09|          4.3|     9.4|     5.0| 3.4|   rain|             48.92|              41.0|   01|2012|      1|
|2012-01-10|          1.0|     6.1|     0.6| 3.4|   rain|42.980000000000004|             33.08|   01|2012|      1|
|2012-01-11|          0.0|     6.1|    -1.1| 5.1|    sun|42.980000000000004|             30.02|   01|2012|      1|
|2012-01-12|          0.0|     6.1|    -1.7| 1.9|    sun|42.980000000000004|             28.94|   01|2012|      1|
|2012-01-13|          0.0|     5.0|    -2.8| 1.3|    sun|              41.0|             26.96|   01|2012|      1|
|2012-01-14|          4.1|     4.4|     0.6| 5.3|   snow|             39.92|             33.08|   01|2012|      1|
|2012-01-15|          5.3|     1.1|    -3.3| 3.2|   snow|             33.98|26.060000000000002|   01|2012|      1|
|2012-01-16|          2.5|     1.7|    -2.8| 5.0|   snow|             35.06|             26.96|   01|2012|      1|
|2012-01-17|          8.1|     3.3|     0.0| 5.6|   snow|             37.94|              32.0|   01|2012|      1|
|2012-01-18|         19.8|     0.0|    -2.8| 5.0|   snow|              32.0|             26.96|   01|2012|      1|
|2012-01-19|         15.2|    -1.1|    -2.8| 1.6|   snow|             30.02|             26.96|   01|2012|      1|
|2012-01-20|         13.5|     7.2|    -1.1| 2.3|   snow|             44.96|             30.02|   01|2012|      1|
+----------+-------------+--------+--------+----+-------+------------------+------------------+-----+----+-------+
only showing top 20 rows

In [55]:
subset = weather.filter((weather.quarter == '3')&(weather.year == '2015'))#.groupby('weather').agg(
    #(count('weather')).alias('weather_count'))

In [56]:
subset.show()

+----------+-------------+--------+--------+----+-------+-----------------+------------------+-----+----+-------+
|      date|precipitation|temp_max|temp_min|wind|weather|       temp_max_f|        temp_min_f|month|year|quarter|
+----------+-------------+--------+--------+----+-------+-----------------+------------------+-----+----+-------+
|2015-07-01|          0.0|    32.2|    17.2| 4.3|    sun|89.96000000000001|             62.96|   07|2015|      3|
|2015-07-02|          0.0|    33.9|    17.8| 3.4|    sun|            93.02| 64.03999999999999|   07|2015|      3|
|2015-07-03|          0.0|    33.3|    17.8| 2.6|    sun|            91.94| 64.03999999999999|   07|2015|      3|
|2015-07-04|          0.0|    33.3|    15.0| 2.9|    sun|            91.94|              59.0|   07|2015|      3|
|2015-07-05|          0.0|    32.8|    16.7| 2.1|    sun|91.03999999999999|             62.06|   07|2015|      3|
|2015-07-06|          0.0|    29.4|    15.6| 3.2|drizzle|            84.92|             60.08|   07|2015|      3|
|2015-07-07|          0.0|    27.2|    13.9| 2.4|    sun|80.96000000000001|57.019999999999996|   07|2015|      3|
|2015-07-08|          0.0|    30.0|    14.4| 1.9|drizzle|             86.0|             57.92|   07|2015|      3|
|2015-07-09|          0.0|    28.9|    14.4| 3.4|    sun|            84.02|             57.92|   07|2015|      3|
|2015-07-10|          0.0|    21.1|    16.7| 3.7|    sun|            69.98|             62.06|   07|2015|      3|
|2015-07-11|          0.0|    22.2|    16.7| 3.0|    sun|71.96000000000001|             62.06|   07|2015|      3|
|2015-07-12|          0.0|    26.1|    16.7| 2.2|    sun|            78.98|             62.06|   07|2015|      3|
|2015-07-13|          0.0|    25.6|    16.1| 3.1|    sun|78.08000000000001|60.980000000000004|   07|2015|      3|
|2015-07-14|          0.0|    27.8|    16.1| 3.3|    sun|82.03999999999999|60.980000000000004|   07|2015|      3|
|2015-07-15|          0.0|    26.1|    14.4| 3.2|    sun|            78.98|             57.92|   07|2015|      3|
|2015-07-16|          0.0|    26.1|    15.0| 2.8|    sun|            78.98|              59.0|   07|2015|      3|
|2015-07-17|          0.0|    27.8|    13.9| 3.3|    sun|82.03999999999999|57.019999999999996|   07|2015|      3|
|2015-07-18|          0.0|    33.3|    17.8| 3.4|    sun|            91.94| 64.03999999999999|   07|2015|      3|
|2015-07-19|          0.0|    35.0|    17.2| 3.3|    sun|             95.0|             62.96|   07|2015|      3|
|2015-07-20|          0.0|    26.7|    16.7| 3.9|    sun|            80.06|             62.06|   07|2015|      3|
+----------+-------------+--------+--------+----+-------+-----------------+------------------+-----+----+-------+
only showing top 20 rows

In [60]:
subset.groupby('weather').agg(
    (
        round(count('weather') / subset.count(), 2)
    ).alias('ratio')
).filter(subset.weather == 'rain').show()

+-------+-----+
|weather|ratio|
+-------+-----+
|   rain| 0.02|
+-------+-----+

For each year, find what percentage of days it rained (had non-zero precipitation).